
<div class="features-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center" style="color:rgb(22,116,211);padding:10px 20px 20px 20px;margin:0px;">Analysis of Transformation Capabilities</h2>
      <p class="text-center" style="padding:0px 0px 20px 0px;color:rgb(13,0,95);">This application analyses the transformation capabilities between communication types </p>
    </div>

    <hr style="margin:20px 0px;" />
    <div class="row">
      <div class="col" style="width:33%;">
        <p class="text-left" style="margin:0px;color:rgb(0,90,145);">Select environments and analyse.</p>
      </div>
      <div class="col" style="width:33%;">
        <p class="text-left" style="margin:0px;color:rgb(0,90,145);">Create or customize the environments.</p>
      </div>
      <div class="col" style="width:33%;">
        <p class="text-left" style="margin:0px;color:rgb(0,90,145);">Create or customize the communcations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding:0px;">
        <hr />
      </div>
    </div>
    <div class="row justify-content-center features" style="padding:10px 0px;">
      <div class="col">
        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item" style="width:33%;"><a role="tab" data-toggle="tab" href="#tab-1" class="nav-link active" style="width:auto;">Analyse</a></li>
            <li class="nav-item" style="width:33%;"><a role="tab" data-toggle="tab" href="#tab-2" class="nav-link" style="width:auto;">Environments</a></li>
            <li class="nav-item" style="width:33%;"><a role="tab" data-toggle="tab" href="#tab-3" class="nav-link" style="width:auto;">Communications</a></li>
          </ul>
          <div class="tab-content" style="min-width:800px;min-height:600px;padding:10px;margin:10px;">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
              <div class="row" style="width:auto;height:auto;">
                <div class="col" style="width:auto;min-width:auto;height:auto;">
                  <app-analyse-transformation></app-analyse-transformation>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="tab-2">
              <div class="row" style="width:auto;height:auto;">
                <div class="col" style="width:auto;min-width:auto;height:auto;">
                  <app-create-environment></app-create-environment>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="tab-3">
              <div class="row" style="width:auto;height:auto;">
                <div class="col" style="width:auto;min-width:auto;height:auto;">
                  <app-create-communication></app-create-communication>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-basic" style="height:60px;padding:0px;">
  <footer>
      <p class="copyright">IAAS, Uni-Stuttgart © 2018</p>
      <a href="https://www.uni-stuttgart.de/">
        <img border="0" alt="Uni-Stuttgart" src="./assets/img/uni-stuttgart.png" width="40" height="40">
      </a>
      <a href="http://www.iaas.uni-stuttgart.de/">
        <img border="0" alt="IAAS" src="./assets/img/iaas.jpg" width="40" height="40">
      </a>
  </footer>
</div>



